<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org/">
<head>
    <link rel="stylesheet" th:href="@{/css/login.css}" type="text/css">
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div class="container">
    <div class="screen">
        <div class="screen__content">
            <form class="login" th:action="@{/sign-in}" method="post">
                <div class="login__field">
                    <i class="login__icon fas fa-user"></i>
                    <input type="text" class="login__input" name="username" placeholder="Username">
                </div>
                <div class="login__field">
                    <i class="login__icon fas fa-lock"></i>
                    <input type="password" class="login__input" name="password" placeholder="Password">
                </div>
                <input type="submit" class="button login__submit">
                <span class="button__text">Log In</span>
                <i class="button__icon fas fa-chevron-right"></i>
                </input>
            </form>
            <div class="social-login">
                <div class="social-icons">
                    <a th:href="@{/login/authorization/google}" class="social-login__icon fab fa-instagram">Google</a>
                    <a href="#" class="social-login__icon fab fa-facebook">Facebook</a>
                    <a href="#" class="social-login__icon fab fa-twitter">GitHub</a>
                </div>
            </div>
        </div>
        <div class="screen__background">
            <span class="screen__background__shape screen__background__shape4"></span>
            <span class="screen__background__shape screen__background__shape3"></span>
            <span class="screen__background__shape screen__background__shape2"></span>
            <span class="screen__background__shape screen__background__shape1"></span>
        </div>
    </div>
</div>
</body>
</html>